body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    min-height: 80vh;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.logo-header img {
    max-width: 100%;
    height: auto;
    width: 150px;
}


.btn.btn-primary {
    margin-left: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-bottom: auto;
}

.form h2 {
    margin-bottom: 10px;
    text-align: center;
}


.formularioo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    position: relative;
    width: 100%; 
    max-width: 1000px;
    height: auto;
    margin-bottom: 20px;
}


.formulario-imagen {
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.formulario-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario-contenido {
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #117adb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 70%;
    max-width: 400px;
}


.formulario-campo label {
    margin-bottom: 5px;

}


.formulario-campo input,
.formulario-campo textarea,
.formulario-campo select,
.formulario-enviar,
.login {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.formulario-enviar,
.login {
    padding: 10px;
    margin-top: 10px;
    background-color: #045aaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-campo textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.formulario-campo label[for="mensaje"] {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.formulario-enviar:hover {
    background-color: #034786;
}


.login {
    text-align: center;
    text-decoration: none;
}

#login:hover {
    color: #fff;
    text-decoration: none;
    background-color: #034786;

}


.footer {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #117adb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    flex-shrink: 0;
}
.contact-info {
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 5px;
}

.contact-info p {
    margin-left: 15px;
}


@media (max-width: 1040px) {
    .formulario-imagen {
        display: none;
    }

    section {
        margin-top: -50px;
    }

    .formularioo {
        grid-template-columns: 1fr;
        width: 70%;
        max-width: 100%;
        margin: 20px;
    }

    .formulario-contenido {
        margin-top: 50px;
        border-radius: 15px;
    }

    .formulario-imagen {
        display: none;
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 5px;
        text-align: center; 
    }

    
    .contact-info {
        order: 1;
    }

    .copyright {
        order: 2;
    }
}


 
table.dataTable.display thead {
    background-color: #117adb;
    color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
    margin-bottom: 10px;
}