body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}


.logo-header img {
    max-width: 100%;
    height: auto;
    width: 150px;
    position: absolute;
}

h1 {
    text-align: center;
    margin-bottom: -40px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-bottom: 100px;
}

.form h2 {
    margin-bottom: 10px;
    text-align: center;
}


.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    border-radius: 15px;
    position: relative;
    width: 100%; 
    max-width: 1000px;
    height: 100%;
}


.formulario-imagen {
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.formulario-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario-contenido {
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #117adb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 70%;
    max-width: 400px;
}


.formulario-campo label {
    margin-bottom: 5px;

}


.formulario-campo input,
.formulario-campo textarea,
.formulario-campo select,
.formulario-enviar {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.formulario-enviar {
    padding: 10px;
    margin-top: 10px;
    background-color: #045aaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-campo textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.formulario-campo label[for="mensaje"] {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.formulario-enviar:hover {
    background-color: #034786;
}



.footer {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #117adb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94%;
    padding: 2px 90px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 5px;
}

.contact-info p {
    margin-left: 15px;
}


@media (max-width: 1040px) {
    .formulario-imagen {
        display: none;
    }

    .formulario {
        grid-template-columns: 1fr;
        width: 70%;
        max-width: 100%;
        margin: 20px;
    }

    .formulario-imagen {
        display: none;
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 5px;
        text-align: center; 
    }

    
    .contact-info {
        order: 1;
    }

    .copyright {
        order: 2;
    }
}